################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoHelper/src/MongoHelper/obj/Debug/netstandard1.6
/MongoHelper/src/MongoHelper/bin/Debug
